@import '../../app/styles/variables.scss';
@import '../../shared/assets/fonts/fonts.scss';

.ProfileAnimalWrapper {
}

.Header {
  display: flex;
  align-items: end;
  margin-top: -50px;
  padding-left: 40px;
}

.TopLine {
  background-color: var(--color-accent-red);
  height: 105px;
  width: 100%;
}

.Image {
  width: 130px;
  height: 130px;
  background-position: center;
  margin-right: 20px;
}

.HeaderTitle {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 8px;
  padding-left: 20px;
}

.Title {
  margin: 0;
}

.popup {
  visibility: hidden;
  min-width: 350px;
  background-color: var(--color-neutral);
  color: var(--color-text-primary);
  border-radius: 10px;
  padding: 25px;
  position: absolute;
  left: 40%;
  transform: translateX(-50%);
  z-index: 1;
  box-shadow: 0px 4px 32px 0px #0000000d;
  box-shadow: 0px 0px 4px 0px #0000000a;
  border: 1px solid var(--color-main-light);
}

.popupTitle {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  margin: 0;
}

.popupText {
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  margin: 0;
}

.HeaderTitle:hover .popup {
  visibility: visible; /* Показываем всплывающее окно при наведении */
  opacity: 1; /* Убедитесь, что элемент полностью видимый */
  transition: opacity 0.3s; /* Плавный переход появления */
}

.ProfileAnimalWrapper {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.Contetnt {
  padding: 40px;
}

.Section {
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.SectionPassport {
  margin-bottom: 25px;
}

.SectionDescription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.SectionTable {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(44px, max-content);
}

.SectionTitle {
  color: var (--color-text-primary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
}

.Heading {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #edf0f7;
  background-color: var(--color-table);
  color: #000;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xs);
}

.Contents {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #edf0f7;
  color: #000;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
}

.NotEdit {
  background-color: rgba(237, 240, 247, 20%);
  padding: 12px;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
}

.input {
  border: none;
  border-radius: none;
}

.inputTitle {
  border: none;
  border-radius: none;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
}

.Photo {
  max-width: 130px;
  min-width: 130px;
  height: 130px;
  box-shadow: 0px 4px 30px 0px #0000001a;
}

.ButtonsBlock {
  display: flex;
  gap: 15px;
}
