@import '../../../app/styles/variables.scss';
@import '../../../shared/assets/fonts/fonts.scss';

.Title {
  margin: 0 0 20px 0;
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  line-height: 130%;
}
.List {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 256px));
  gap: 20px;
}
