@import '../../../../src/app/styles/_variables';

.MarkingVerification {
  margin: 0;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  border-radius: 5px;
  border: 1px solid #ff6f41;
  background-color: rgba(15, 100, 63, 3%);
  color: #ff6f41;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.01rem;
  height: 30px;
  cursor: pointer;
}

.MarkingVerificationVerified {
  background-color: rgba(166, 74, 40, 3%);
  color: #1bb38f;
  border: 1px solid #1bb38f;
}

.Icon {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
}
