@import '../../app/styles/variables';
@import '../../shared/assets/fonts/fonts';

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: var(--font-family-sans);
}

.title {
  margin: 0;
}

.description {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  line-height: 150%;
  color: var(--color-text-primary);
  margin: 15px 0 35px 0;
  width: 426px;
  text-align: center;
}

.link {
  display: flex;
  align-items: center;
  margin-top: 35px;

  &:hover {
    opacity: 0.7;
  }

  svg {
    margin-left: 10px;
  }
}

.tables {
  border: 2px solid var(--color-border);
  border-radius: 10px;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.05);
  display: grid;
  grid-auto-columns: 265px;
  grid-auto-rows: 120px;
  grid-auto-flow: column;
  position: relative;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--color-border);
}

.counter {
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-l);
  line-height: 130%;
  color: var(--color-main);
}

.counterText {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--color-text-secondary);
}

.image {
  position: absolute;
  top: -22px;
  right: 29px;
}
