@import '../../../app/styles/variables';

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.input-label {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: 16px;
  letter-spacing: -1%;
  text-align: left;
}

.input-field {
  padding: 12px;
  border: 2px solid var(--color-border);
  // border: none;
  border-radius: 6px;
  background: var(--color-neutral);
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: 150%;
  letter-spacing: -1%;
  text-align: left;
}

.input-field:focus {
  outline: none;
  // border-color: var(--color-main);
  // box-shadow: 0 0 0 3px var(--color-main-light);
}

.input-error {
  border-color: var(--color-attention);
}

.error-message {
  color: var(--color-attention);
  font-size: var(--font-size-xs);
  margin-top: 4px;
}
