@import '../../../app/styles/variables.scss';
@import '../../../shared/assets/fonts/fonts.scss';

.Filter {
  margin: 0;
  padding: 30px 25px 25px 25px;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  box-sizing: content-box;
}

.title {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-text-secondary-dark);
  font-family: var(--font-family-sans);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 150%;
  letter-spacing: 0.05rem;
  border-bottom: 1px solid var(--color-border);
}

.filters {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.resetButton {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  background: none;
  border: none;
  color: var(--color-accent-red);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  line-height: 24px;
  letter-spacing: -0.01rem;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}
