@import '../../../src/app/styles/variables';

.registrationForm {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--color-neutral);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: 323px;
  margin: 0 auto;
}

.title {
  margin: 0;
  color: var(--color-text-primary);
}

.passwordContainer {
  width: 100%;
}

.passwordContainerLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customLabel {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: 16px;
  letter-spacing: -1%;
  text-align: left;
  margin-bottom: 8px;
}

.passwordInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.inputField {
  width: 100%;
  height: 100px;
  input {
    padding: 12px;

    box-sizing: border-box;
    height: 48px;
  }
  input:nth-child(1) {
    padding-right: 34px;
  }
}

.toggleIcon {
  position: absolute;
  top: 14px;
  right: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.toggleIcon:hover img {
  filter: brightness(1.2);
}
.toggleIcon:hover {
  color: var(--color-text-primary);
}

.registrationPrompt {
  font-family: var(--font-family-sans);
  margin-bottom: 40px;
  color: var(--color-text-secondary);
  font-size: var(--font-size-xs);
}

.registrationLink {
  color: var(--color-main);
  text-decoration: none;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.forgotPasswordLink {
  align-self: flex-end;
  font-size: var(--font-size-xs);
  color: var(--color-text-primary-light);
  text-decoration: none;
  margin-bottom: 8px;

  &:hover {
    text-decoration: underline;
  }
}

.submitButton {
  width: 100%;
  margin-top: 20px;
}

.error {
  color: var(--color-attention);
}
