@import '../../../src/app/styles/_variables';

.editProfileWrapper {
  display: flex;
  align-items: flex-start;
  max-width: 1440px;
  max-height: 100vh;
  margin: 0 auto;
}

.contentWrapper {
  width: 100%;
  height: calc(100vh - 50px);
  overflow-y: scroll;
}

.Section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 70px 10px;
}

.Title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: var(--color-attentionmary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  line-height: 0.75em;
}

.Hint {
  margin: 0;
  padding: 0;
  color: rgba(45, 54, 72, 50%);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  line-height: 0.72em;
}
