@import '../../../app/styles/_variables.scss';

.h1 {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  text-align: center;
}

.h2 {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  text-align: center;
}
.h3 {
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  font-weight: var(---font-weight-medium);
  line-height: 1.5;
  text-align: center;
}
