@import '../../../app/styles/_variables.scss';

.header {
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding: 0px 25px 0px 35px;
  background-color: var(--color-neutral);
}

.actionsWrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
}
