@import '../../../app/styles/variables';
@import '../../../shared/assets/fonts/fonts';

.navListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px 0;
  border-bottom: 1px solid var(--color-border);

  &:first-of-type {
    padding-top: 0;
  }
}

.title {
  font-size: 11px;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  margin: 0 15px 5px 15px;
  color: rgba(113, 125, 150, 0.7);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  line-height: 218%;
  text-align: left;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.iconCentered {
  justify-content: center;
}
