.OptionsButton {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  height: 16px;
  width: 32px;
  border-left: 1px solid #ebeff7;
}

.Icon {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
