.sidebar {
  border-right: 1px solid #f0f1f6;
  position: relative;
  box-sizing: border-box;
  z-index: 5;
  // max-height: 100vh;
}

.minimized {
  padding-left: 7px;
  padding-right: 7px;
  max-width: 92px;
  width: 100%;
  transition: all, 0.1s;
  height: 100%;
}

.expanded {
  padding-left: 15px;
  padding-right: 15px;
  transition: all, 0.1s;
  max-width: 216px;
  width: 100%;
  height: 100%;
}

.header {
  padding: 23px 15px;
}

.navLists {
  max-height: calc(100vh - 70px);
  height: 100%;
  overflow-y: scroll;
}

.container {
  display: flex;
  padding: 25px 15px 0 15px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
}

.hideButton {
  position: absolute;
  top: 23px;
  right: -11px;
}

.link {
  color: #717d96;
  font-size: 11px;
  font-weight: var(--font-weight-medium);
  line-height: 170%;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.linkColorBlue {
  color: #3c8aff;
}

.logo {
  max-width: 186px;
  width: 100%;
}

.logoMini {
  max-width: 40px;
  width: 100%;
}
