.upload_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 256px;

  margin: auto;

  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
}

.upload_container > * {
  cursor: pointer;
}

.file_input {
  display: none;
}

.custom_button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.icon {
  margin-right: 8px;
}

.preview_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.preview_image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  max-width: 256px;
  max-height: 256px;
}

.preview_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete_button {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  padding: 0;
  color: #dc3545;
  font-size: 20px;
  top: 5%;
  right: 5%;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: #c82333;
  }
}
