.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 25px;
  width: 100%;
  height: 100%;
  max-width: 716px;
  max-height: 168px;
  font-family: 'Inter';
  font-style: normal;

  font-size: 16px;
  line-height: 150%;
}
.titleBlock {
  align-items: start;
}
.titleBlockText {
  font-weight: 600;
  margin: 0;
}
.descriptionBlock {
  width: inherit;
}
.descriptionBlockText {
  font-weight: 400;
  display: -webkit-box;
  margin: 0;
}
.descriptionBlockMore {
  color: #3c8aff;
  cursor: pointer;
}
