@import '../../../app/styles/variables.scss';
@import '../../../shared/assets/fonts/fonts.scss';

.Card {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  width: 100%;
  text-decoration: none;
}

.Big {
  min-width: 348px;
}

.Small {
  min-width: 256px;
}

.ImageContainer {
  aspect-ratio: 256/190;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-clip: padding-box;
}

.UrgentIcon {
  position: absolute;
  top: 10%;
  left: 7%;
}

.Progress {
  position: absolute;
  bottom: 10%;
  left: 7%;
  right: 7%;
}

.TitleContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-start;
}

.CardStatus {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--color-text-secondary-light);
  font-size: var(--font-size-xs);
}

.CardTitle {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  color: #000;
  font-size: var(--font-size-s);
  line-height: 1.5;
}
