@import '../../../../src/app/styles/_variables';

.VaccinationForm {
  margin: 20px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid #edf0f7;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 5%);
  border-radius: 6px;
}

.Header {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 1px solid #edf0f7;
}

.Title {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  color: var(--color-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
}

.Sections {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.Section {
  padding-bottom: 30px;
  border-bottom: 1px solid #edf0f7;
}

.Vertical {
  margin: 0;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.Horizontal {
  margin: 0;
  display: grid;
  width: 100%;
  column-gap: 20px;
  grid-template-columns: 66% 30%;
  grid-template-rows: 1fr;
}

.Buttons {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xs);
  display: flex;
  gap: 15px;
}
