@import '../../../src/app/styles/variables';

.advertisementForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
  background-color: var(--color-neutral);
  border-radius: var(--border-radius);
  width: 100%;
  box-sizing: border-box;
}

.advertisementInfoBlock {
  min-width: 532px;
  display: flex;
  flex-direction: column;
}

.advertisementMediaBlock {
  min-width: 348px;
}

.advertisementSection {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.advertisementSectionMediaBlock {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.titleblock {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  margin: 0;
  color: var(--color-text-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi-bold);
  font-family: var(--font-family-sans);
  line-height: 16px;
}

.description {
  margin: 0;
  color: var(--color-text-secondary-light);
  font-size: var(--font-size-s);
  font-family: var(--font-family-sans);
  line-height: 16px;
}

.inputsBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputField input {
  padding: 10px;
}

.Select {
  padding: 12px;
  border: 2px solid var(--color-border);
  justify-content: end;
  padding: 10px 10px 10px 16px;
}

.customLabel {
  font-family: var(--font-family-sans);
  color: var(--color-text-primary);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: 16px;
  text-align: left;
}

.separator {
  width: 100%;
  height: 1px;
  background: var(--color-border);
  margin: 50px 0;
}

.buttonBlock .submitButton,
.buttonBlock .saveButton,
.buttonBlock .abortButton {
  padding: 7px 15px;
}
