@import '../../../app/styles/_variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px 16px 35px;
  background-color: var(--color-neutral);
  border-bottom: 1px solid var(--color-border);
  position: sticky;
  top: 0;
  z-index: 4;
}

.inputWrapper {
  display: flex;
  align-items: center;
  width: 362px;
}

.icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.input {
  margin-left: 12px;
  border: none;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 150%;
  width: 100%;
  padding: 0;

  &::placeholder {
    color: var(--color-text-secondary-dark);
  }

  &:focus {
    outline: none;
  }
}

.actionsWrapper {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.buttonCreate {
  display: flex;
  align-items: center;
  padding: 7px 15px 7px 10px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: 171%;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  background-color: var(--color-main);
  color: var(--color-neutral);
}

.iconButton {
  width: 13px;
  height: 13px;
  margin-right: 8px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.buttonAvatar {
  border-radius: 50%;
  background-color: rgba(113, 125, 150, 0.1);
  padding: 9px 10px;
  border: 0;
  cursor: pointer;
}
