@import '../../../app/styles/variables';
@import '../../../shared/assets/fonts/fonts';

.card {
  border-radius: 20px;
  background-color: #dd434c;
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.title {
  margin: 0;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  line-height: 130%;
}

.description {
  margin: 0;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  line-height: 150%;
  max-width: 360px;
  text-wrap: balance;
}

.button {
  padding: 0;
  border: none;
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-s);
  line-height: 150%;
  background-color: inherit;
  color: inherit;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  svg {
    margin-left: 10px;
  }
}

.image {
  position: absolute;
  width: 343.55px;
  height: 343.55px;
  top: -50px;
  right: 50px;
}
