@import '../../../app/styles/variables.scss';
@import '../../../shared/assets/fonts/fonts.scss';

.Table {
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.Head {
  margin: 0;
  padding: 0;
  height: 60px;
}

.HeadRow {
  margin: 0;
  padding: 0;
  height: 100%;
}

.HeadItem {
  margin: 0;
  padding: 0 50px;
  color: var(--color-text-secondary-dark);
  opacity: 70%;
  text-align: start;
}

.HeadItemLast {
  padding-right: 0;
}

.HeadItemIndex {
  padding-left: 20px;
  padding-right: 50px;
}

.HeadItemOptions {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Body {
  margin: 0;
  padding: 0;
}

.BodyRow {
  margin: 0;
  padding: 0;
  height: 60px;

  :first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  :last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.BodyItem {
  margin: 0;
  padding: 0 50px;
  color: var(--color-text-primary);
  background-clip: padding-box;
  text-align: start;
}

.BodyItemOdd {
  background-clip: padding-box;
  background-color: var(--color-neutral);
}

.BodyItemEven {
  background-clip: padding-box;
  background-color: rgba(156, 164, 181, 0.1);
}

.BodyItemIndex {
  padding-left: 20px;
  padding-right: 50px;
  color: rgba(45, 54, 72, 0.6);
  background-clip: padding-box;
}
