@import '../../../app/styles/variables.scss';
@import '../../../shared/assets/fonts/fonts.scss';

.Specifications {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 130px 230px 130px 230px;
  grid-auto-rows: minmax(44px, max-content);
}

.Heading {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #edf0f7;
  background-color: rgba(237, 240, 247, 20%);
  color: #000;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-xs);
}

.Contents {
  margin: 0;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #edf0f7;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
}
