@import '../../../../app/styles/variables.scss';
@import '../../../../shared/assets/fonts/fonts.scss';

.ProgressOuter {
  max-width: 100%;
  height: 5px;
  background-color: rgba(45, 54, 72, 0.1);
  border-radius: 50vh;
}

.ProgressInner {
  height: 100%;
  background-color: var(--color-text-primary);
  border-radius: 50vh;
}
