@import '../../../src/app/styles/_variables';

.content {
  display: flex;
  padding: 70px 70px 0;
  margin: 0;
  box-sizing: border-box;
  justify-content: space-between;
}

.FormInputs {
  max-width: 532px;
  width: 100%;
}

.Section {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-border);
}

.TitleSection {
  margin-bottom: 25px;
}

.Title {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-s);
  line-height: 0.75em;
  margin-bottom: 15px;
}

.Hint {
  margin: 0;
  padding: 0;
  color: rgba(45, 54, 72, 50%);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-xs);
  line-height: 0.72em;
}

.profileInputs {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.SectionDescription {
  margin-top: 50px;
}

.formPhoto {
  margin: 0;
  padding: 0;
}
