
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.4
    hooks:
      - id: ruff
      - id: ruff-format


  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: debug-statements
      - id: name-tests-test
        args:
          - --pytest-test-first

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: 'Run tests with pytest'
        entry: bash -c 'cd backend/; pytest'
        language: python
        types: [ python ]
        require_serial: true
        pass_filenames: false
        always_run: true
