name:  Backend DEPLOY PIPELINE
on:
  push:
    branches:
      - develop
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
        pip install --no-cache-dir -r requirements.txt
    - name: Run tests
      run: |
        pytest
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/zooplatforma_backend:latest .

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/zooplatforma_backend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.5
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USERNAME }}
        password: ${{ secrets.SERVER_PASS }}
        script: |
          cd /home/

          docker-compose -f docker-compose.production.yml stop web celery frontend nginx certbot redis
          docker-compose -f docker-compose.production.yml rm -f web celery frontend nginx certbot redis

          docker-compose -f docker-compose.production.yml pull

          docker-compose -f docker-compose.production.yml build

          docker-compose -f docker-compose.production.yml up -d

          docker image prune -f
