@import '../../../app/styles/variables.scss';
@import '../../assets/fonts/fonts.scss';

.slider {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleBar {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  line-height: 130%;
}

.children {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  column-gap: 20px;
  scroll-behavior: smooth;
}

.button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  position: absolute;
  background: var(--color-neutral);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;

  &:hover {
    opacity: 0.4;
  }
}

.buttonRight {
  right: 0;
  top: calc(50% - 30px);
  background-position: 10px 10px;
}

.buttonLeft {
  left: 0;
  top: calc(50% - 30px);
  background-position: 10px 10px;
}
