@import '../../app/styles/variables';
@import '../../shared/assets/fonts/fonts.scss';

.gallery {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleGallery {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  color: var(--color-text-primary);
}

.children {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 30px;

  &__big_cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
