.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 716px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-m);
  line-height: 0.75em;
  text-align: start;
}

.buttonIcon {
  all: unset;
  cursor: pointer;
}

.gallery {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  justify-content: center;
}

.gallery__imageLarge {
  max-width: 716px;
  max-height: 364px;
  height: 100%;
  width: 100%;
  grid-column: 1 / -1;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-clip: padding-box;
}

.gallery__thumbnails {
  display: grid;
  grid-template-columns: repeat(4, 164px);
  gap: 20px;
  list-style: none;
  padding: 0;
}
.gallery__thumbnails li {
  list-style: none;
  position: relative;
}
.gallery__thumbnails li img {
  height: 130px;
}
.gallery__thumbnails li:last-child img {
  filter: brightness(50%);
  position: absolute;
  cursor: pointer;
}
.allPhotoes {
  display: flex;
  position: absolute;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  gap: 5px;
}
.allPhotoes p {
  margin: 0;
}

.gallery__image {
  width: 100%; /* Миниатюры растягиваются по колонке */
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-clip: padding-box;
  max-height: 130px;
  max-width: 164px;
  cursor: pointer;
}

.emptyImage {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid #d9d9d9;
}
