@import '../../../../app/styles/variables.scss';
@import '../../../assets/fonts/fonts.scss';

.Option {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  color: var(--color-text-primary);
  line-height: 150%;
  cursor: pointer;
  background: none;
  border: none;

  &:hover {
    color: var(--color-main);
  }
}
