<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Активация аккаунта</title>
</head>
<body>
    <p>Здравствуйте, {{ user.first_name }}!</p>
    <p>Благодарим за регистрацию на нашей платформе. Пожалуйста, активируйте свой аккаунт, перейдя по следующей ссылке:</p>
    <p><a href="{{ activation_link }}">Активировать аккаунт</a></p>
    <p>Если вы не регистрировались на нашем сайте, проигнорируйте это письмо.</p>
    <p>С уважением,<br>Команда Зооплатформы</p>
</body>
</html>