@import '../../../app/styles/_variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-popup-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: var(--color-neutral);
  padding: 40px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 70vh;
  overflow-y: auto;
}

.closeButton {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  padding: 0;
  background-image: url(../../assets/icons/icon_x.svg);
  background-position: center;
  background-color: rgba(208, 210, 217, 0.5);
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: background 0.3s ease;
}

.closeButton:hover {
  background-color: var(--color-text-secondary-light);
}

.isActionButton {
  max-width: 460px;
}

.modalTitle > h2 {
  text-align: left;
  margin: 0;
}

.actionButtonContainer {
  display: flex;
  gap: 15px;
}
