.Card {
  display: flex;
  flex-direction: column;
  flex: 1 1 200px;
  row-gap: 20px;
  align-items: stretch;
  cursor: pointer;
  border: none;
  background: none;
}

.ImageContainer {
  aspect-ratio: 256/190;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.1s ease;
}

.Image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  background-clip: padding-box;
  transition: border 0.1s ease;
}

.TitleContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: flex-start;
}

.CardTitle {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-semi-bold);
  color: #000;
  font-size: var(--font-size-s);
  line-height: 1.5;
  white-space: normal;
  white-space: normal;
  transition: color 0.1s ease;
}

.CardDescription {
  text-align: start;
  color: #000;
  font-size: var(--font-size-xs);
  margin: 0;
}
.Card:hover .ImageContainer .Image {
  border: 2px solid var(--color-main);
}

.Card:hover .CardTitle {
  color: var(--color-main);
}
