@import '../../app/styles/variables';
@import '../../shared/assets/fonts/fonts';

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  padding-top: 30px;
}

.text {
  font-family: var(--font-family-sans, sans-serif);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi-bold);
  margin: 15px 0 25px 45px;
}

.container__likes {
  display: flex;
  column-gap: 8px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-xs);
}

.container__time {
  position: absolute;
  right: 0;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  color: #a1a8b2;
}

.likeButton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  color: var(--color-text-secondary);
  column-gap: 8px;
}
.answerButton {
  width: 16px;
  height: 16px;
  cursor: pointer;
  column-gap: 8px;
}

.container__lowerPart {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 45px;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 30px;
  width: calc(100% - 45px);
}

.container__lowerPart_last {
  border-bottom: none;
}

.container__answer {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: var(--font-size-xs);
}
